<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/my.js"></script>
</head>
<body>
<div class="container">
    <h2>Bordered Table</h2>
    <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
    <table class="table table-bordered" id="names">
        <thead>
        <tr>
            <th>Выбрать</th>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
    <button type="submit" id="fillButton" class="btn btn-primary">Заполнить таблицу</button>
    <button type="submit" id="processButton" class="btn btn-primary">Обработать данные</button>
    <button type="submit" id="testButton" class="btn btn-primary">test</button>

    <form id="formPerson">
        <div class="form-group">
            <label for="id">id:</label>
            <input type="number" class="form-control" id="id" name="id">
            <label for="firstName">Фамилия:</label>
            <input type="text" class="form-control" id="firstName" pattern="[а-яА-ЯёЁ]+" title="Можно использовать только кириллицу" name="firstName" required>
            <label for="lastName">Имя:</label>
            <input type="text" class="form-control" id="lastName" pattern="[а-яА-ЯёЁ]+" title="Можно использовать только кириллицу" name="lastName" required>
            <label for="middleName">Отчество:</label>
            <input type="text" class="form-control" id="middleName" pattern="[а-яА-ЯёЁ]+" title="Можно использовать только кириллицу" name="middleName" required>
            <label for="birthDate">Дата рождения:</label>
            <input type="date" class="form-control" id="birthDate" name="birthDate" required>
        </div>
        <button type="submit" id="add" class="btn btn-primary">Добавить</button>
        <button type="submit" id="get" class="btn btn-primary">Получить</button>
        <button type="submit" id="update" class="btn btn-primary">Обновить</button>
        <button type="submit" id="remove" class="btn btn-primary">Удалить</button>
    </form>

</div>

</body>
</html>